@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

td {
  text-align: center;
}
.btn {
  border-radius: 50px;
}
input {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  background-color: #d1e7de !important;
  color: black !important;
}
